.button{
    height: 56px;
    margin-top: 64px;
    border: 0;
    padding: 0 32px;
    border-radius: 8px;
    font-weight: 500;
    color: #fff;
    background-color: #835af3;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter .25s ease, transform .25s ease;

    &:not(:disabled):hover{
        filter: brightness(0.9);
        transform: scale(1.1) translateY(-5px);
    }

    &:disabled{
        cursor: not-allowed;
        opacity: .8;
    }

    p{
        font-size: .9rem;
        color: #737380;
    }
}