.question {
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 12px #0000000d;

    & + .question {
        margin-top: 8px;
    }

    p {
        color: #29292e;
    }

    footer {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }

            > span {
                margin-left: 8px;
                font-size: 0.9rem;
                color: #737380;
            }
        }
        div {
            > button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                &.like-button {
                    display: flex;
                    align-items: flex-end;
                    gap: 8px;
                    color: #737380;
                    transition: 0.25s;

                    &:hover {
                        filter: brightness(0.75);
                        transform: scale(1.01);
                    }

                    &.liked {
                        span {
                            color: #8353fd !important;
                        }

                        svg path {
                            stroke: #8353fd;
                        }
                    }
                }
            }
        }
    }

    span {
        font-size: 0.9rem;
        font-weight: 500;
        color: #737383;
    }
}
