.room-code{
    height: 40px;
    border: 1px solid #835afd;
    border-radius: 8px;
    background: #fff;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    
    div{
        height: 100%;
        padding: 0 12px;
        background: #835afd;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span{
        width: 200px;
        padding: 0 16px 0 12px;
        display: block;
        align-self: center;
        flex: 1;
        font-size: .9rem;
        font-weight: 500;
    }
}